<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.sonatype.s2.installer.InstallApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.sonatype.s2.installer.application"
            name="Sonatype Installer">
         <property
               name="appName"
               value="Sonatype Installer">
         </property>
      </product>
   </extension>


</plugin>
