<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.sonatype.s2.project.materializer"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.sonatype.s2.project.materializer.S2MaterializerApplication">
         </run>
      </application>
   </extension>

</plugin>
